@import '~antd/dist/antd.css';

:root {
  --dark: #011627;
  --light: #fdfffc;
  --main-color: #1890ff;
  --main-light: #A8DADC;
  --main-muted: #457B9D;
  --accent: #ff9f1c;
}
.app {
  text-align: center;
  background-color: var(--light);
}
a {color: var(--main-color)}
.ant-typography {
  color: var(--dark);
}
.appHeader {
  background-color: var(--dark);
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.appHeader .mainTitle {
  margin-bottom: 0;
  color: #FFF;
}
.appMain {
  min-height: calc(100vh - 75px);
  position: relative;
  padding: 15px 10px;
}
.appSection {
  margin-bottom: 30px;
}
@media all and (min-width: 414px) {
  .appMain {
    padding: 15px 30px;
  }
}
@media all and (min-width: 960px) {
  .appMain {
    padding: 15px 50px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .appSection {
    margin-bottom: 50px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
